<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <% if (!contact) { %>  <!-- Jika contact tidak ada-->
                <div class="alert alert-danger" role="alert">
                    Data Contact not found <a href="/contact" class="alert-link">Go Back</a>
                  </div>
            <% } else { %>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= contact.nama%></h5>
                  <p class="card-text"><%= contact.hp%></p>
                  <p class="card-text"><%= contact.email%></p>
                  <a href="/contact/edit/<%= contact.nama %>" class="btn btn-warning">Edit</a>
                  <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
                  <a href="/contact" class="btn btn-primary d-block mt-3">Go Back</a>
                </div>
              </div>
            <% } %>
        </div>
    </div>
</div>